.cartItem {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    font-size: 1.2rem;
}

img {
    width: 3rem;
}

.image {
    flex: 1;
}

.title {
    flex: 7;
    font-size: 1rem;
}

.price {
    font-size: 1rem;
    ;
    flex: 2;
    color: #282;
}

.quantity {
    margin: .5rem 0;
}

.cartItem button {
    flex: 2;
}

.no-product {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.quantity-div {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.quantity-div button {
    padding: .2rem .6rem;
}

.remove-item {
    padding: 1rem;
}

.cart-delete{
    padding: .7rem;
    display: flex;
    flex-direction: column;
}
.cart-delete button{
    margin: .2rem;
}

@media (max-width:500px) {
    .cartItem {
        flex-direction: column;
    }

    .image {
        width: 90%;
    }

    .quantity-div {
        width: 80%;
        flex-direction: row;
        padding: 0;
    }

    .quantity {
        padding: 0 1rem;
    }

    .quantity-div button {
        padding: 1rem;
        width: 25%;
    }
}