*{
    margin: 0;
}
.navbar{
    padding: 0.5rem 1.5rem;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.navbar img{
    width: 10rem;
}

.cart-icon{
    font-size: 1.5rem;
    color: rgb(0, 0, 12);
}
.cart-icon:visited{
    color:rgb(0, 0, 12);
}
 