* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product {
    border: 1px solid gray;
    border-radius: .7rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-div {
    text-align: center;
    flex: 2;
}

.image-div img {
    width: 10rem;
}

.product-details {
    flex: 7;
    padding: 1rem 2rem 1rem 1rem;
}

.operations {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem
}

.operations button,
.update-btn {
    margin: 1rem 0;
    height: 3rem;
    border-radius: 1rem;
}

.update-form {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-form-row {
    margin: 1rem;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.update-form-row>input,
.update-form-row>textarea {
    border-radius: .3rem;
    border-width: .2px;
    font-size: 1rem;
    padding: .3rem;
    outline: none;
    width: 100%;
}

form .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .product-details small {
    margin: 0;
    color: red;
}

.delete-prompt {
    text-align: center;
    color: red;
}

textarea::-webkit-scrollbar {
    width: 0;
}
.goto-cart{
    width: 100%;
}

.update-buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* border-radius: ; */
}


small {
    color: red;
}

.product-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.product-price {
    color: rgb(33, 115, 33);
    font-weight: 600;
}


.product-title,
.product-category,
.product-price,
.product-rating-rate,
.product-rating-count {
    padding: .2rem;
    font-size: 1rem;
}

@media (max-width: 700px) {
    .product {
        flex-direction: column;
    }

    .operations {
        width: 80%;
    }

    .update-form {
        flex-direction: column;
    }

    .product-details {
        width: 90%;
    }

    .add-form .form-row {
        flex-direction: column;
        justify-content: left;
        width: 100%;
    }

    .add-form .form-row label{
        color: black;
        font-weight: 400;
    }

    .add-form .form-row label,
    .add-form .form-row input,
    .add-form .form-row textarea
    {
        width: 90%;
        text-align: left;
    }
}